<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into member_Gym(memberId,memberPassword,memberName,memberBirth,memberGender,memberEmail,memberPhone)
            values (#{memberId},#{memberPassword},#{memberName},#{memberBirth},#{memberGender},#{memberEmail},#{memberPhone})
    </insert>

    <select id="duplicate" parameterType="String" resultType="String">
        select memberId from member_Gym where memberId=#{memberId}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from member_Gym where memberId=#{memberId} and memberPassword=#{memberPassword}
    </select>

    <select id="findAll" resultType="member">
        select * from member_Gym
    </select>

    <select id="findById" parameterType="Long" resultType="member">
        select * from member_Gym where id=#{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from member_Gym where id=#{id}
    </delete>

    <update id="update" parameterType="member">
        update member_Gym set memberName=#{memberName},memberEmail=#{memberEmail},memberPhone=#{memberPhone} where id=#{id}
    </update>
</mapper>